.register-container{
    border: 2px solid grey;
    padding: 2rem;
    border-radius: 1.5rem;
    background: #a9a9a91a;
}

.register{
    display: flex;
    flex-direction: column;
}

.form-items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* min-width: 24rem; */
}

.form-items input{
    min-width: 25rem;
    min-width: 25rem;
    padding: 0.5rem;
    border: 2px solid grey;
    border-radius: 4rem;
    font-size: 1rem;
}

.form-items button{
    background-color: red;
    color: white;
    max-width: 10rem;
    display: flex;
    justify-content: center;
    margin: auto;
}

.form-items button:hover{
    background-color: #03a9f4;
}

.form-footer{
    padding-top: 1rem;
}

.heading{
    margin-bottom: 1.5rem;
}

.heading span{
    font-size: 2.5rem;
    font-weight: 500;
    color: crimson;
}

